@{
    ViewData["Title"] = "Projeto Vega";
}

<link rel="stylesheet" href="~/css/site.css" type="text/css" />

<div class="container text-center">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">Project made by Arthur.</p>
    <div class="row mt-5">
        <div class="col-md-6">
            <img id="profilePhoto" src="images/profilephoto.jpg" alt="Vega Logo" class="img-fluid rounded-circle" />
        </div>
        <div class="col-md-6">
            <div class="social-links">
                <div class="row social-item">
                    <div class="col-md-6">
                        <p> <a href="https://github.com/zagdolly" target="_blank">GitHub</a></p>
					</div>
                    <div class="col-md-6">
                        <a href="https://github.com/zagdolly" target="_blank">
                            <img src="https://cdn-icons-png.flaticon.com/256/25/25231.png" alt="GitHub" class="social-icon" />
                        </a>
                    </div>
				</div>
                <div class="row social-item">
                    <div class="col-md-6">
                        <a href="https://www.linkedin.com/in/arthur-zagnoli-81029723a/" target="_blank">
                            <p>LinkedIn</p>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="https://www.linkedin.com/in/arthur-zagnoli-81029723a/" target="_blank">
                            <img src="https://cdn-icons-png.flaticon.com/256/174/174857.png" alt="LinkedIn" class="social-icon" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
